apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    release: prometheus-operator
    app: "{{ k8s.name }}"
  name: "{{ k8s.name }}"
spec:
  endpoints:
  - path: /metrics
    port: http
  selector:
    matchLabels:
      app: "{{ k8s.name }}"
