apiVersion: v1
kind: Service
metadata:
  name: "{{ k8s.name }}"
  labels:
    app: "{{ k8s.name }}"
spec:
  ports:
  - name: {{ k8s.port.name }}
    port: {{ k8s.port.value }}
    protocol: "{{ k8s.protocol }}"
    targetPort: {{ k8s.port.target }}
  selector:
    app: "{{ k8s.name }}"
